:root {
  /* typography */
  --font-family: "Raleway", sans-serif;
  --font-family-oswald: "Oswald", sans-serif;
  --font-family-contrast: "Rozha One", serif;
  --font-size-default: 1rem;
  --font-size-80: 0.875rem; /* 14px */
  --font-size-90: 1.125rem; /* 18px */
  --font-size-100: 1.25rem; /* 20px */
  --font-size-200: 1.5rem; /* 24px */
  --font-size-300: 2.25rem; /* 36px */
  --font-size-400: 3.75rem; /* 60px */
  --font-size-500: 4rem; /* 64px */
  --font-size-600: 5.31rem; /* 85px */
  --font-size-700: 7.375rem; /* 118px */
  --font-size-800: 14rem; /* 224px */
  --font-size-900: 31.25rem; /* 500px */
  --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-italic: italic;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;
}

/* Reset */
*,
*:before,
*:after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  line-height: 1.5;
}

/* ---- Base Rules ---- */
body {
  /* background: rgb(136, 203, 171);
  background: linear-gradient(
    0deg,
    rgba(136, 203, 171, 1) 0%,
    rgba(0, 13, 60, 1) 100%
  ); */
  background: #f2f2f2;
  font-family: var(--font-family);
  color: #555;
}

img {
  /* display: block; */
  /*  width: 100%; */
  max-width: 100%;
  height: auto;
}

button {
  cursor: pointer;
}

section {
  /*  padding-top: 250px; */
}

/* Typography General*/
/* h1 {
  font-family: "Fira Sans", sans-serif;
  font-size: 3em;
  margin: 2em 1rem;
}

@media only screen and (min-width: 35em) {
  h1 {
    font-size: 7em;
    margin: 2em 4rem 1em;
  }
} */

/* h2 {
  border-bottom: 1px solid #cc1;
  font-family: "Oxygen", Sans-Serif;
  font-size: 3em;
  color: #fff;
} */

/* Typography General*/
h1 {
  font-family: var(--font-family-contrast);
  font-size: var(--font-size-200);
  color: #fff;
  letter-spacing: 0.02em;
  /* line-height: 72px; */
}

@media only screen and (min-width: 35em) {
  h1 {
    font-size: var(--font-size-300);
    /*   margin: 2em 4rem 1em; */
  }
}

@media only screen and (min-width: 55em) {
  h1 {
    font-size: var(--font-size-400);
    /*   margin: 2em 4rem 1em; */
  }
}

@media only screen and (min-width: 75em) {
  h1 {
    font-size: var(--font-size-700);
    /*   margin: 2em 4rem 1em; */
  }
}

h2 {
  font-family: var(--font-family-oswald);
  font-size: var(--font-size-400);
  font-weight: var(--font-weight-regular);
  color: #111;
  letter-spacing: 0.03em;
  line-height: 1;
  text-transform: uppercase;
}

@media only screen and (min-width: 55em) {
  h2 {
    font-size: var(--font-size-600);
    /*   margin: 2em 4rem 1em; */
  }
}

p {
  font-size: var(--font-size-90);
  /* line-height: 1.6em;
  line-height: 187%; */
  letter-spacing: 0.02em;
  /*  color: #eee; */
}

a {
  font-family: var(--font-family);
  text-decoration: none;
}

li {
  list-style-type: none;
}

.default-text {
  color: #fff;
}
