:root {
  /* typography */
  --font-family: "Raleway", sans-serif;
  --font-family-oswald: "Oswald", sans-serif;
  --font-family-contrast: "Rozha One", serif;
  --font-size-70: 0.875rem; /* 14px */
  --font-size-80: 1rem; /* 16px, base */
  --font-size-90: 1.125rem; /* 18px */
  --font-size-100: 1.25rem; /* 20px */
  --font-size-200: 1.5rem; /* 24px */
  --font-size-300: 2.25rem; /* 36px */
  --font-size-400: 3.75rem; /* 60px */
  --font-size-500: 4rem; /* 64px */
  --font-size-600: 5.31rem; /* 85px */
  --font-size-700: 7.375rem; /* 118px */
  --font-size-800: 14rem; /* 224px */
  --font-size-900: 31.25rem; /* 500px */
  --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-italic: italic;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  line-height: 1.5;
}

body {
  /* background: rgb(136, 203, 171);
  background: linear-gradient(
    0deg,
    rgba(136, 203, 171, 1) 0%,
    rgba(0, 13, 60, 1) 100%
  ); */
  background: #e5e5e5;
  margin: 0;
  font-family: var(--font-family);
  /* color: #555; */
}

img {
  /* display: block; */
  width: 100%;
}

button {
  cursor: pointer;
}

/* Typography General*/
h1 {
  font-family: "Fira Sans", sans-serif;
  font-size: 3em;
  margin: 2em 1rem;
}

@media only screen and (min-width: 35em) {
  h1 {
    font-size: 7em;
    margin: 2em 4rem 1em;
  }
}

/* h2 {
  border-bottom: 1px solid #cc1;
  font-family: "Oxygen", Sans-Serif;
  font-size: 3em;
  color: #fff;
} */

h2 {
  font-family: var(--font-family-oswald);
  font-size: 5.3125rem;
  color: #111;
}

/* body {
  background-color: red;
} */

p {
  line-height: 1.6em;
  color: #eee;
}
