@import url(base.css);

/* ---- Layout Rules ---- */
.page__header {
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 5;
  text-align: center;
  padding: 20px 0;
}

@media screen and (min-width: 1085px) {
  .page__header {
    display: grid;
    grid-template-columns: 1fr auto minmax(850px, 1fr) 1fr;
  }
}

main {
  margin-bottom: 10vh;
  /* margin: 10vh 1em 10vh; */
  /*  margin: 0 1em 10vh; */
  /*  width: 100%; */
}

/* @media only screen and (min-width: 35em) {
  main {
    max-width: 60%;
    margin-left: auto;
    margin-right: auto;
  }
} */

.main__hero {
  /* margin: 0 -1em; */
}

/* @media only screen and (min-width: 35em) {
  .main__hero {
    width: 100vw;
    position: relative;
    left: calc(-50vw + 50%);
  }
} */

/* .main-hero {
  min-height: 40vh;
  padding-top: 3em;
} */

section {
  position: relative;
  /* min-height: 80vh; */
}

.section1,
.section2,
.section3,
.section5,
.section6 {
  padding: 0 1em;
  margin-top: 160px;
}

.section4 {
  margin-top: 160px;
}

/* ---- Module Rules ---- */

button {
}

/* Navigation Styles*/
.navbar__menu {
  position: absolute;
  top: 100%;
  width: 100%;
  background: rgba(242, 242, 242, 0.9);
  text-align: center;
  transform: scale(1, 0);
  transform-origin: top;
  transition: transform 400ms ease-in-out;
}

.navbar__logo {
  margin-bottom: 1em;
}

.navbar__menu ul {
  margin-top: 1em;
  padding: 0;
}

.navbar__menu li {
  margin: 0 0 1em 1em;
}

.navbar__menu .menu__link {
  font-family: var(--font-family-oswald);
  font-size: 18px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #111;
  opacity: 0;
  transition: opacity 250ms ease-in-out;
}

.navbar__menu .menu__link:hover {
  background: #333;
  color: #fff;
  padding: 2px 0;
}

.navbar__toggle {
  display: none;
}

.navbar__toggle:checked ~ nav {
  transform: scale(1, 1);
}

.navbar__toggle:checked ~ nav .menu__link {
  opacity: 1;
  transition: opacity 250ms ease-in-out 150ms;
}

.navbar__toggle-label {
  position: absolute;
  top: 0;
  right: 0;
  margin-right: 2em;
  height: 100%;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.navbar__toggle-label span,
.navbar__toggle-label span::before,
.navbar__toggle-label span::after {
  display: block;
  background: #333;
  height: 2px;
  width: 2em;
  border-radius: 2px;
  position: relative;
}

.navbar__toggle-label span::before,
.navbar__toggle-label span::after {
  content: "";
  position: absolute;
}

.navbar__toggle-label span::before {
  bottom: 7px;
}

.navbar__toggle-label span::after {
  top: 7px;
}

@media screen and (min-width: 1085px) {
  .navbar__toggle-label {
    display: none;
  }

  .navbar__logo {
    grid-column: 2 / 3;
  }

  .navbar__menu {
    all: unset;
    grid-column: 3 / 4;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  .navbar__menu .menu__link {
    opacity: 1;
  }

  .navbar__menu ul {
    display: flex;
  }

  .navbar__menu li {
    margin: 0 0 0 2em;
  }
}

/* Header Styles */
.page__header {
  background: rgba(242, 242, 242, 0.9);
}

/* Hero Styles */
.main__hero-image-container {
  position: relative;
}

.main__hero-container-text {
  justify-content: center;
  align-items: flex-start;
  display: flex;
  color: #fff;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0 auto;
  flex-direction: column;
  max-width: 90%;
  flex-wrap: wrap;
}

.main__heading-text {
  font-size: var(--font-size-default);
}

@media only screen and (min-width: 55em) {
  .main__hero-container-text {
    max-width: 60%;
  }

  .main__heading-text {
    font-size: var(--font-size-90);
  }
}

/* .main__hero-image {
  width: 100%;
} */

.main__heading-text--xxs {
  display: none;
  position: absolute;
  bottom: -10px;
  font-size: clamp(1rem, 8vw + 1rem, 10rem);
  font-weight: var(--font-weight-bold);
  line-height: 1;
  text-transform: uppercase;
  color: rgba(196, 196, 196, 0.1);
  -webkit-text-stroke: 1px rgba(196, 196, 196, 0.7);
}

@media only screen and (min-width: 31em) {
  .main__heading-text--xxs {
    display: block;
  }
}

.articles-img {
  min-width: 50%;
}

/* Footer Styles */
.page__footer {
  background: #000;
  padding: 3em;
  color: #fff;
}

.page__footer p {
  color: #fff;
}

/* ---- Theme Rules ---- */
/* Landing Container Styles */
.landing__container {
  /* padding: 1em; */
  text-align: left;
}

.landing__container div {
  /* border: 1px solid #d9d9d9;
  width: 250px;
  height: 250px;
  border-radius: 50%; */
}

.landing__container1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto 1fr;
}

.landing__container1-heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 310px;
}

.landing__img-number1 {
  max-width: 90%;
}

.landing__container1-text {
  grid-column: 1 / 3;
  grid-row: 2 /3;
}

.landing__container-gallery {
  margin-top: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 10px;
  justify-content: space-evenly;
}

/* .landing__container-gallery img {
  min-width: 20%;
} */

@media only screen and (min-width: 35em) {
  .landing__container {
    /* max-width: 70em; */
    /* padding-top: 4em; */
    margin: 0 auto;
  }

  .landing__container1 {
    max-width: 70em;
  }

  .landing__container1-heading {
    flex-direction: row;
  }

  .landing__container1-text {
    grid-column: 2 / 3;
  }

  .landing__container-gallery {
    margin-top: 160px;
  }
}

.landing__container2 {
  text-align: center;
  font-family: var(--font-family-oswald);
  color: #111;
  padding-top: 4em;
}

.landing__container2-graphics {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  margin-top: 60px;
}

.landing__circle {
  border: 5px solid #d9d9d9;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 60px;
}

.graphics-wrapper {
  text-transform: uppercase;
}

.landing__circle p {
  font-size: var(--font-size-400);
}

.landing__container3 {
  /* display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: auto 1fr; */

  /* display: grid; */
  /* grid-template-columns: repeat(4, 1fr); */
  /*  grid-template-columns: repeat(4, minmax(10px, 1fr));
  grid-template-rows: auto repeat(3, 1fr); */
}

.landing__container3-heading {
  max-width: 70em;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  height: 310px;
  /*  display: flex;
  align-items: center;
  height: 310px;
  grid-column: 1 / 2; */
}

.landing__img-number2 {
  max-width: 40%;
  order: 2;
  margin-left: 30px;
  /* max-width: 90%; */
  /* order: 2; */
}

.landing__container3-heading h2 {
  order: 2;
  text-align: center;
}

.landing__container-gallery {
  /*  grid-column: 1 / 3; */
}

.landing__container4 {
  max-width: 70em;
  /* display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(2, 1fr); */
}

.landing__container4-heading {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;

  /*  grid-column: 1 / 3;
    display: flex;
    align-items: center;
    gap: 20px; */
}

.landing__container4-heading img {
  max-width: 40%;
}

.landing__container4-text {
  margin-top: 160px;
}

@media only screen and (min-width: 35em) {
  .landing__container3-heading {
    flex-direction: row;
  }

  .landing__img-number2 {
    order: 2;
  }

  .landing__container3-heading h2 {
    order: 1;
    text-align: right;
  }

  .landing__container4-heading {
    justify-content: space-around;
  }
}

.interviews-img {
  width: 100%;
}

/* section:nth-of-type(even) .landing__container {
  margin-right: 0;
  margin-left: auto;
  text-align: right;
} */

/* Background Circles */
/* Note that background circles are created with psuedo elements before and after */
/* Circles appear to be random do to use of :nth-of-type psuedo class */
/* section:nth-of-type(odd) .landing__container::before {
  content: "";
  background: rgba(255, 255, 255, 0.187);
  position: absolute;
  z-index: -5;
  width: 20vh;
  height: 20vh;
  border-radius: 50%;
  opacity: 0;
  transition: ease 0.5s all;
} */

/* section:nth-of-type(even) .landing__container::before {
  content: "";
  background: rgb(255, 255, 255);
  background: linear-gradient(
    0deg,
    rgba(255, 255, 255, 0.1) 0%,
    rgba(255, 255, 255, 0.2) 100%
  );
  position: absolute;
  top: 3em;
  right: 3em;
  z-index: -5;
  width: 10vh;
  height: 10vh;
  border-radius: 50%;
  opacity: 0;
  transition: ease 0.5s all;
} */

/* section:nth-of-type(3n) .landing__container::after {
  content: "";
  background: rgb(255, 255, 255);
  background: linear-gradient(
    0deg,
    rgba(255, 255, 255, 0.1) 0%,
    rgba(255, 255, 255, 0.2) 100%
  );
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: -5;
  width: 10vh;
  height: 10vh;
  border-radius: 50%;
  opacity: 0;
  transition: ease 0.5s all;
} */

/* section:nth-of-type(3n + 1) .landing__container::after {
  content: "";
  background: rgb(255, 255, 255);
  background: linear-gradient(
    0deg,
    rgba(255, 255, 255, 0.1) 0%,
    rgba(255, 255, 255, 0.2) 100%
  );
  position: absolute;
  right: 20vw;
  bottom: -5em;
  z-index: -5;
  width: 15vh;
  height: 15vh;
  border-radius: 50%;
  opacity: 0;
  transition: ease 0.5s all;
} */

/* ---- Theme State Rules ---- */
/* Section Active Styles */
/* Note: your-active-class class is applied through javascript. You should update the class here and in the index.html to what you set in your javascript file.  */
/* section.your-active-class {
  background: rgb(0, 0, 0);
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.1) 0%,
    rgba(0, 0, 0, 0) 100%
  );
} */

section.your-active-class .landing__container::before {
  opacity: 1;
  animation: rotate 4s linear 0s infinite forwards;
}

section.your-active-class .landing__container::after {
  opacity: 1;
  animation: rotate 5s linear 0s infinite forwards reverse;
}

/* Section Active Styles Keyframe Animations */
@keyframes rotate {
  from {
    transform: rotate(0deg) translate(-1em) rotate(0deg);
  }
  to {
    transform: rotate(360deg) translate(-1em) rotate(-360deg);
  }
}

.address-icon::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f3c5";
}

.phone-icon::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f095";
}

.envelope-icon::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f0e0";
}

.facebook-icon::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f39e";
}

.footer__facebook-logo {
  width: 10px;
}

.footer__instagram-logo {
  width: 25px;
}

.footer__pinterest-logo {
  width: 25px;
}

.footer__twitter-logo {
  width: 25px;
}

.submit-email::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f1d8";
}
